/* Estilos para el título */


.sectiontitulo1, .sectiontitulo3, .sectiontitulo4, .sectiontitulo5, .sectiontitulo6, .sectiontitulo7 {
    text-align: center;
    font-size: 1.8rem;
}


.B, .C, .D, .F, .G, .H {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 100px;
    padding: 50px;
    display: flex;
}

/* Estilos para las secciones de productos */
#productos1, #productos2, #productos3, #productos4, #productos5, #productos6, #productos7{
    text-align: webkit-center;
    display: block;
    justify-content: center;
    padding: 20px;
  }
  
  .producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7  {
    width: auto;
    background-color: #333;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .all-photo-container1, .all-photo-container2, .all-photo-container3, .all-photo-container4, .all-photo-container5, .all-photo-container6, .all-photo-container7 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    overflow-x: auto;
    margin-bottom: 10px;
  }
  
  .photo-container1, .photo-container2, .photo-container3, .photo-container4, .photo-container5, .photo-container6, .photo-container7 {
    flex: 0 0 30%;
    margin-right: 10px;
    text-align: center;
  }
  


  
  
  
  .textoimagen {
    margin-top: 0;
    text-align: justify;
  }

  .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7 {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}




